@page {
	size: letter;
	margin: 0;
}

@media print {
	#content {
		width: 215mm;
		height: 279mm;
		margin: 0;
	}
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    -webkit-print-color-adjust: exact !important;
}

* {
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: inherit;
}

.flex {
    display: flex;
    height: 100%;
}

h1,
h2,
h3 {
	text-transform: uppercase;
}

hr {
	background: #888888;
	border: 0;
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
}

#container {
	margin: 50px;
}

.grid-2x4 {
	display: grid;
	align-items: center;
	justify-items: start;
	grid-template-columns: 1fr 15fr;
}

#content {
	width: 215mm;
	height: 279mm;
	margin: auto;
	box-shadow: 0 0 50px #000000;
	overflow: hidden;
}

#info-content,
#main-content,
#sidebar-content {
	padding: 20px;
}

#info-content {
	color: #FFFFFF;
	background: rgba(45, 45, 45, 1);
	padding-top: 5px;
	padding-bottom: 5px;
}

#info-content>h1 {
	margin: 0px;
}

#main-content {
	width: 70%;
	height: 100%;
}

#main-content>h5 {
	text-align: justify;
	margin: 0;
}

#sidebar-content {
	width: 30%;
	height: 100%;
	border-left: 1px solid;
	text-transform: lowercase;
}

#sidebar-content>h3 {
	border-bottom: 2px solid;
	text-align: right;
}

#sidebar-content>ul {
	padding-left: 1em;
	list-style-type: none;
}

#sidebar-content>ul,
.contact-content>a {
	opacity: 0.6;
	font-style: italic;
	margin: 0 0 10px 0;
}

#sidebar-content h4 {
	margin: 0;
}

#title-content {
	height: 20%;
	width: 100%;
	align-items: center;
}

#photo {
	height: 75%;
	padding-right: 20px;
}

#line-content {
	width: 1em;
	height: 100%;
	border-bottom: 1px solid #888888;
	border-top: 1px solid #888888;
}

#detail-content {
	display: flex;
	width: 100%;
}

#detail-content>div:first-child {
	padding-right: 20px;
}

#detail-content>div>h4 {
	font-weight: bold;
	margin: 0;
}

#detail-content>div>h5 {
	margin: 0;
	text-align: justify;
}

#detail-content>div>ul {
	padding-left: 15px;
	margin: 0;
	padding-bottom: 15px;
}

#detail-content>div>ul h5 {
	margin: 0;
	padding-bottom: 5px;
	text-align: justify;
}
